<!DOCTYPE html>

<html lang="en">

  <head>

    <title>User Input</title>

    <base href="/">

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

 

  <body>
    <br><br><br>
    <h1 style="text-align:center">

    {{ title }}!

  </h1>
  <br><br>
<table align="center" style="text-align:center">
  

<tr>
     <td> Select type:</td>

        <td><select class="selectConv" (change)="convChange($event)">

          <option *ngFor="let con of convs" [value]="con">{{con}}</option> 

        </select></td>
      </tr>
</table>
      <!-- Temp Converter  -->
       <div style="text-align:center" class="temp" [class.tConv]="tConv">
         <br>
       <table align="center">
     
      <tr>
        
        <td>
  
            From:<br>
  
          <select class="selectConv" (change)='tempChange(tempId.value,tempFrom.value,tempTo.value)' #tempFrom>
  
            <option *ngFor="let deg of degrees" [value]="deg" >{{deg}}</option>
  
          </select>
  
        </td>
  
        <td>
  
            To:<br>
  
          <select class="selectConv" (change)='tempChange(tempId.value,tempFrom.value,tempTo.value)' #tempTo>
  
            <option *ngFor="let deg of degrees" [value]="deg">{{deg}}</option>
  
          </select>
  
        </td>
  
      </tr><br>
  
      <tr>
        <td>
          <input type="text" name="fromVal" #tempId class="selectConv" [(ngModel)]="temp">
        </td>
  
        <td>
          <div class="output" [(ngModel)]="tempOut">{{temp|temp: tempFrom.value:tempTo.value}}</div>
        </td>
      </tr>
       </table>
      </div>
      
    <!-- Length Converter -->

    
  <div style="text-align:center" class="length" [class.lConv]="lConv">
    <table align="center">
      <tr>
  
        <h2></h2>
  
      </tr>
  
      <tr>
  
        <td>
  
            From:<br>
  
          <select class="selectConv" (change)='lengthChange(lengthId.value,lenFrom.value,lenTo.value)' #lenFrom>
  
            <option *ngFor="let len of lengths" [value]="len" >{{len}}</option>
  
          </select>
  
        </td>
  
        <td>
  
            To:<br>
  
          <select class="selectConv" (change)='lengthChange(lengthId.value,lenFrom.value,lenTo.value)' #lenTo>
  
            <option *ngFor="let len of lengths" [value]="len" >{{len}}</option>
  
          </select>
  
        </td>
  
      </tr><br>
  
      <tr>
  
      
  
            <td><input type="text" name="fromVal" #lengthId class="selectConv" [(ngModel)]="length"></td>
  
            <td><div class="output">{{length|length: lenFrom.value:lenTo.value}}</div></td>
      </tr>
      </table>
  </div>
    
  
 <br>

<!-- weight Converter -->
  <div style="text-align:center"  class="weight" [class.wConv]="wConv">

    <table align="center">
  
      <tr>
  
        <td>
  
            From:<br>
  
          <select class="selectConv" (change)='weightChange(weightId.value,weightFrom.value,weightTo.value)' #weightFrom>
  
            <option *ngFor="let we of weights" [value]="we" >{{we}}</option>
  
          </select>
  
        </td>
  
        <td>
  
            To:<br>
  
          <select class="selectConv" (change)='weightChange(weightId.value,weightFrom.value,weightTo.value)' #weightTo>
  
            <option *ngFor="let we of weights" [value]="we" >{{we}}</option>
  
          </select>
  
        </td>
  
      </tr><br>
  
      <tr>
            <td><input type="text" name="fromVal" #weightId class="selectConv" [(ngModel)]="weight"></td>
  
            <td><div class="output">{{weight|weight: weightFrom.value:weightTo.value}}</div></td>
      </tr>
  
    </table>
  
  </div>
  

    <!-- Speed Converter -->
    <div style="text-align:center" class="speed" [class.sConv]="sConv">

    <table align="center">
  
      <tr>
  
        <td>
  
            From:<br>
  
          <select class="selectConv" (change)='speedChange(speedId.value,speedFrom.value,speedTo.value)' #speedFrom>
  
            <option *ngFor="let speed of speeds" [value]="speed" >{{speed}}</option>
  
          </select>
  
        </td>
  
        <td>
  
            To:<br>
  
          <select class="selectConv" (change)='speedChange(speedId.value,speedFrom.value,speedTo.value)' #speedTo>
  
            <option *ngFor="let speed of speeds" [value]="speed" >{{speed}}</option>
  
          </select>
  
        </td>
  
      </tr><br>
  
      <tr>
        <td><input type="text" name="fromVal" #speedId class="selectConv" [(ngModel)]="speed"></td>
        <td><div class="output">{{speed|speed: speedFrom.value:speedTo.value}}</div></td>
      </tr>
      <br>
      
    </table>
    
  </div>

  </body>

</html>




<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->