.input{
  height: 30px;
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: aliceblue;
}
span{
  color:blueviolet;
  border-bottom: 1px solid black;
}
h4{
  color:cadetblue;
}
.outerDiv{
  margin-left: 40%;
}
@media only screen and (max-width:300px) {
   /* For mobile phones:  */
 .input{
    width:50px;
  }
  .outerDiv{
  margin-left: 10%;
}
}
