<div class="outerDiv">
  <h1>
  {{ title }}!
</h1><br>
<h4>Length Conversion:</h4>
<div>
  <div><input type="number" [(ngModel)]="meter" class="input">m to <span>{{meter|length: "Meter":"Centimeter"}}</span> cm</div><br>

  <div><input type="number" [(ngModel)]="Kilometer" class="input">Km to <span>{{Kilometer|length: "Kilometer":"Mile"}}</span> Miles</div><br>

  <div><input type="number" [(ngModel)]="Foot" class="input">Foots to <span>{{Foot|length: "Foot":"Inch"}}</span> Inches</div><br>

  <div><input type="number" [(ngModel)]="Yard" class="input">Yard to <span>{{Yard|length: "Yard":"Foot"}}</span> Foots</div><br>
  
</div>

<h4>Speed Conversion:</h4>
<div>
  <div><input type="number" [(ngModel)]="Kmph" class="input">Km/hr to <span>{{Kmph|speed: "Km/hr":"m/s"}}</span> m/s</div><br>

  <div><input type="number" [(ngModel)]="mileph" class="input">Mile/hr to <span>{{mileph|speed: "mile/hr":"Km/hr"}}</span> Km/hr</div><br>

  <div><input type="number" [(ngModel)]="mps" class="input">m/s to <span>{{mps|speed: "m/s":"m/hr"}}</span> m/hr</div><br>

  <div><input type="number" [(ngModel)]="Kmps" class="input">Km/s to <span>{{Kmps|speed: "Km/s":"mile/hr"}}</span> Mile/hr</div><br>
  
</div>

<h4>Temparature Conversion:</h4>
<div>
  <div><input type="number" [(ngModel)]="Kelvin" class="input">Kelvin to <span>{{Kelvin|temp: "Kelvin":"Celsius"}}</span> Celsius</div><br>

  <div><input type="number" [(ngModel)]="Celsius" class="input">Celsius to <span>{{Celsius|temp: "Celsius":"Fahrenheit"}}</span> Fahrenheit</div><br>

  <div><input type="number" [(ngModel)]="Fahrenheit" class="input">Fahrenheit to <span>{{Fahrenheit|temp: "Fahrenheit":"Kelvin"}}</span> Kelvin</div><br>

  <div><input type="number" [(ngModel)]="Kelvin" class="input">Kelvin to <span>{{Kelvin|temp: "Kelvin":"Fahrenheit"}}</span> Fahrenheit</div><br>
  
</div>


<h4>Weight Conversion:</h4>
<div>
  <div><input type="number" [(ngModel)]="Kilogram" class="input">Kilogram to <span>{{Kilogram|weight: "Kilogram":"Gram"}}</span> Gram</div><br>

  <div><input type="number" [(ngModel)]="Gram" class="input">Gram to <span>{{Gram|weight: "Gram":"Stone"}}</span> Stone</div><br>

  <div><input type="number" [(ngModel)]="Pound" class="input">Pound to <span>{{Pound|weight: "Pound":"Ounce"}}</span> Ounce</div><br>

  <div><input type="number" [(ngModel)]="Milligram" class="input">Milligram to <span>{{Milligram|weight: "Milligram":"Microgram"}}</span> Microgram</div><br>
  
</div>
</div>    
    
